<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Greatwhile | About</title>
		<!-- base:css -->
		<link rel="stylesheet" href="static/vapour/bootstrap.css">
		<link rel="stylesheet" href="static/vapour/bootstrap.min.css">
		<link rel="stylesheet" href="static/vapour/_bootswatch.scss">
		<link rel="stylesheet" href="static/vapour/_variables.scss">
		<!-- endinject -->
		<!-- plugin css for this page -->
		<!-- End plugin css for this page -->
		<!-- inject:css -->
		<!-- endinject -->
		<link rel="shortcut icon" href="static/static/images/favicon.png" />
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12" style="background-color: black;">
					<h5>Greatwhile</h5>
					<p>Resize the browser window to see the effect.</p>
					<p class="card">Developer | DevOps | Software Engineering | Cloud | CyberSecurity</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8">
					Blog Content
				</div>
				<div class="col-sm-4">
					Sidebar
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12" style="background-color: black;">
					<p>&copy; 2022 Greatwhile Co.</p>
				</div>
			</div>
		</div>
	</body>
</html>