<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Greatwhile | Education Technology</title>
		<!-- base:css -->
		<link rel="stylesheet" href="static/vapour/bootstrap.css">
		<link rel="stylesheet" href="static/vapour/bootstrap.min.css">
		<link rel="stylesheet" href="static/vapour/_bootswatch.scss">
		<link rel="stylesheet" href="static/vapour/_variables.scss">
		<!-- endinject -->
		<!-- plugin css for this page -->
		<!-- End plugin css for this page -->
		<!-- inject:css -->
		<!-- endinject -->
		<link rel="shortcut icon" href="static/static/images/favicon.png" />
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12" style="background-color: black;">
					<h5>Greatwhile</h5>
					<p>Resize the browser window to see the effect.</p>
					<div class="btn-group-horizontal">
						<a type="button" class="btn btn-sm btn-primary">Developer</a> | 
						 <a type="button" class="btn btn-sm btn-primary">DevOps</a> | 
						 <a type="button" class="btn btn-sm btn-primary">Data Analytics</a> | 
						 <a type="button" class="btn btn-sm btn-primary">Software Engineering</a> | 
						 <a type="button" class="btn btn-sm btn-primary">Cloud</a> | 
						 <a type="button" class="btn btn-sm btn-primary">CyberSecurity</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8">
					<div><hr />
						{% for item in posts %}
						<!-- <a href="/post/{{item.id}}"> this too works! -->
						<a href="{{ url_for('post', post_id=item.id) }}" style="text-decoration: none;">
							<div class="card border-primary mb-3" style="max-width: 200rem;">
								<h4 class="card-header">{{ item.title }}</h4>
								<div class="card-body">
									<h6 class="card-title">{{ item.subtitle }}</h6>
									<div class="card-text">
										<p>By {{ item.author }}, {{ item.date.strftime('%B %d, %Y') }}</p>
										<p>{{ item.date_posted }}</p>
										<p>{{ item.content }}</p>
									</div>
								</div>
							</div>
						</a>
						{% endfor %}
					</div>
				</div>
				<div class="col-sm-4">
					<ul class="card">
						<li><a href="/">Home</a></li>
						<li><a href="/add">Add</a></li>
						<li><a href="/post/2">Posts</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/about">About</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12" style="background-color: black;">
					<div>
						<p>&copy; 2022 Greatwhile Co.</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>